<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body style = "background-image: url(/public/pic/wp.jpeg); 
                background-color: bisque;">
    <br/>
    <br/>
    <br/>
    <h1 style = "text-align:center">Welcome To Demons Go In FDU!</h1>
    <br/>
    <br/>
    <br/>
    <div style = "text-align: center;">
    <button id = "p" 
            onclick = "window.location.href = 'http://127.0.0.1:8888/plogin'"
            style = "width:100px; height:60px; font-size: 24px;">
        player START
    </button>
    <button id = "ch" 
            onclick = "window.location.href = 'http://127.0.0.1:8888/chlogin'"
            style = "width:100px; height:60px; font-size: 24px;">
        ch START
    </button>
    </div>
</body>
</html>