<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>record_bytime</title>
</head>
<body style = "background-image: url(/public/pic/pgp.jpeg);
                background-repeat: no-repeat;
                background-size:100% 100%;
                background-color: bisque;">
    <h1><button onclick = "window.location.href = '/pgame'" style = "width:75px; height:45px; font-size: 16px;">Go Back</button></h1>
    <div id = 'show_record_bytime'>
        <h1>
            <button id = 'record_bytime' style = "width:150px; height:45px; font-size: 16px;">
                Show record_by_time
            </button>
        </h1>
    </div>
    <script>
        const btn = document.getElementById('record_bytime');
        btn.onclick = function() {
            xhr = new XMLHttpRequest();
            xhr.open('GET', '/show_result');
            xhr.send();
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4) {
                    document.getElementById('show_record_bytime').innerHTML = xhr.response;
                }
            };
        }
    </script>
</body>
</html>