<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transfer Status</title>
</head>
<body style = "background-image: url(/public/pic/pgp.jpeg);
                background-repeat: no-repeat;
                background-size:100% 100%;
                background-color: bisque;">
    <h1>
        <button onclick = "window.location.href = '/pgame'"
                style = "width:75px; height:45px; font-size: 16px;">
            Go Back
        </button>
    </h1>
    <div id = 'status'>
        <p id = 'status_info'></p>
    </div>
    <script>
        const xhr = new XMLHttpRequest();
        
    </script>
</body>
</html>